In [1]:
# Import Dependancies

import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import mean_squared_error

from sklearn.preprocessing import LabelEncoder

#Obtain all the data

store_data = pd.read_csv( '/kaggle/input/store-sales-time-series-forecasting/stores.csv')
train_data = pd.read_csv( '/kaggle/input/store-sales-time-series-forecasting/train.csv')
test_data = pd.read_csv( '/kaggle/input/store-sales-time-series-forecasting/test.csv')
oil_price = pd.read_csv( '/kaggle/input/store-sales-time-series-forecasting/oil.csv')
holidays = pd.read_csv( '/kaggle/input/store-sales-time-series-forecasting/holidays_events.csv')
submission = pd.read_csv( '/kaggle/input/store-sales-time-series-forecasting/sample_submission.csv')
transactions = pd.read_csv('/kaggle/input/store-sales-time-series-forecasting/transactions.csv')

In [2]:
train_data.head()

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0
2   2  2013-01-01          1      BEAUTY    0.0            0
3   3  2013-01-01          1   BEVERAGES    0.0            0
4   4  2013-01-01          1       BOOKS    0.0            0

In [3]:
# Initialize the LabelEncoder

label_encoder = LabelEncoder()

#Preprocessing the data

train_data['Family_Encoded']=label_encoder.fit_transform(train_data['family'])
test_data['Family_Encoded']=label_encoder.fit_transform(test_data['family'])

#Drop categorical columns

test_data.drop(columns = ['family'], inplace = True)
train_data.drop(columns = ['family'], inplace = True)

In [4]:
# Transform the Holidays Dataset to allow for easy use in ML models


#Convert Date to DateTime Format
holidays['date'] = pd.to_datetime(holidays['date'])

#Dropping the column as it has over 100 unique values.
holidays.drop(columns=['description'], inplace = True)

#Encoding the categorical columns

holidays['Holiday_type_encoded'] = label_encoder.fit_transform(holidays['type'])
holidays['Holiday_locale_encoded'] = label_encoder.fit_transform(holidays['locale'])
holidays['Transferred_Holiday_encoded'] = label_encoder.fit_transform(holidays['transferred'])
holidays['Region_encoded'] = label_encoder.fit_transform(holidays['locale_name'])

holidays.drop(columns=['type','locale','locale_name','transferred'], inplace= True)
holidays

,date,Holiday_type_encoded,Holiday_locale_encoded,Transferred_Holiday_encoded,Region_encoded
0,2012-03-02,3,0,0,15
1,2012-04-01,3,2,0,2
2,2012-04-12,3,0,0,3
3,2012-04-14,3,0,0,12
4,2012-04-21,3,0,0,19
...,...,...,...,...,...
345,2017-12-22,0,1,0,4
346,2017-12-23,0,1,0,4
347,2017-12-24,0,1,0,4
348,2017-12-25,3,1,0,4
349,2017-12-26,0,1,0,4

transform date by to_datetime to work with ml models

In [5]:
train_data.describe()

                 id     store_nbr         sales   onpromotion  Family_Encoded
count  3.000888e+06  3.000888e+06  3.000888e+06  3.000888e+06    3.000888e+06
mean   1.500444e+06  2.750000e+01  3.577757e+02  2.602770e+00    1.600000e+01
std    8.662819e+05  1.558579e+01  1.101998e+03  1.221888e+01    9.521906e+00
min    0.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00    0.000000e+00
25%    7.502218e+05  1.400000e+01  0.000000e+00  0.000000e+00    8.000000e+00
50%    1.500444e+06  2.750000e+01  1.100000e+01  0.000000e+00    1.600000e+01
75%    2.250665e+06  4.100000e+01  1.958473e+02  0.000000e+00    2.400000e+01
max    3.000887e+06  5.400000e+01  1.247170e+05  7.410000e+02    3.200000e+01

In [6]:
#Encoding the categorical columns

store_data['City_encoded']=label_encoder.fit_transform(store_data['city'])
store_data['State_encoded']=label_encoder.fit_transform(store_data['state'])
store_data['Store_type_encoded']=label_encoder.fit_transform(store_data['type'])

store_data.drop(columns = ['city','state','type'], inplace = True)

In [7]:
#Convert Date to DateTime Format in the oil_price dataset

oil_price['date'] = pd.to_datetime(oil_price['date'])

# Split the oil price data

oil_price_test = oil_price[oil_price['date']>=test_data['date'][0]]
oil_price_train = oil_price[oil_price['date']<train_data['date'].iloc[-1]]

In [8]:
oil_price_train

           date  dcoilwtico
0    2013-01-01         NaN
1    2013-01-02       93.14
2    2013-01-03       92.97
3    2013-01-04       93.12
4    2013-01-07       93.20
...         ...         ...
1200 2017-08-08       49.07
1201 2017-08-09       49.59
1202 2017-08-10       48.54
1203 2017-08-11       48.81
1204 2017-08-14       47.59

[1205 rows x 2 columns]

In [9]:
#Convert Date to DateTime Format in the transactons dataset

transactions['date'] = pd.to_datetime(transactions['date'])
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83488 entries, 0 to 83487
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          83488 non-null  datetime64[ns]
 1   store_nbr     83488 non-null  int64
 2   transactions  83488 non-null  int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 1.9 MB

In [10]:
# Ensure 'date' columns are in datetime64[ns] format in all DataFrames
holidays['date'] = pd.to_datetime(holidays['date'])
train_data['date'] = pd.to_datetime(train_data['date'])
oil_price['date'] = pd.to_datetime(oil_price['date'])
transactions['date'] = pd.to_datetime(transactions['date'])

# Now perform the merges
train_final = pd.merge(holidays, train_data, on='date', how = 'right')
train_final = pd.merge(train_final, store_data, on='store_nbr', how='inner')
train_final = pd.merge(train_final, oil_price_train, on='date')
train_final = pd.merge(train_final, transactions, on=['date', 'store_nbr'], how='left')

In [11]:
# Convert date string feature to timestamps
train_final['date'] = pd.to_datetime(train_final['date'])
train_final['Day']=train_final['date'].dt.day
train_final['Month']=train_final['date'].dt.month
train_final['Year']=train_final['date'].dt.year
train_final['Day of the week']=train_final['date'].dt.dayofweek
train_final['Day of the year']=train_final['date'].dt.dayofyear

#Prepare the train data
train_final.drop(columns = ['date'], inplace = True)
train_final.fillna(0,inplace = True)

In [12]:
train_final

,Holiday_type_encoded,Holiday_locale_encoded,Transferred_Holiday_encoded,Region_encoded,id,store_nbr,sales,onpromotion,Family_Encoded,cluster,City_encoded,State_encoded,Store_type_encoded,dcoilwtico,transactions,Day,Month,Year,Day of the week,Day of the year
0,3.0,1.0,0.0,4.0,0,1,0.000,0,0,13,18,12,3,0.00,0.0,1,1,2013,1,1
1,3.0,1.0,0.0,4.0,1,1,0.000,0,1,13,18,12,3,0.00,0.0,1,1,2013,1,1
2,3.0,1.0,0.0,4.0,2,1,0.000,0,2,13,18,12,3,0.00,0.0,1,1,2013,1,1
3,3.0,1.0,0.0,4.0,3,1,0.000,0,3,13,18,12,3,0.00,0.0,1,1,2013,1,1
4,3.0,1.0,0.0,4.0,4,1,0.000,0,4,13,18,12,3,0.00,0.0,1,1,2013,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2174035,0.0,0.0,0.0,0.0,2999101,9,283.429,0,28,6,18,12,1,47.59,1971.0,14,8,2017,0,226
2174036,0.0,0.0,0.0,0.0,2999102,9,114.120,0,29,6,18,12,1,47.59,1971.0,14,8,2017,0,226
2174037,0.0,0.0,0.0,0.0,2999103,9,1348.425,7,30,6,18,12,1,47.59,1971.0,14,8,2017,0,226
2174038,0.0,0.0,0.0,0.0,2999104,9,182.000,11,31,6,18,12,1,47.59,1971.0,14,8,2017,0,226
2174039,0.0,0.0,0.0,0.0,2999105,9,17.000,0,32,6,18,12,1,47.59,1971.0,14,8,2017,0,226

In [13]:
# Ensure 'date' columns are in datetime64[ns] format in all DataFrames

test_data['date'] = pd.to_datetime(test_data['date'])

#Merge the Holidays, Store_data, Oil_prices, and test_data

test_final = pd.merge(holidays, test_data, on = 'date', how = 'outer')
test_final = pd.merge(test_final, store_data, on='store_nbr',how = 'inner')
test_final = pd.merge(test_final, oil_price_test, on = 'date', how = 'left')
test_final = pd.merge(test_final, transactions, on = ['date','store_nbr'], how = 'left')

In [14]:

# Convert date string feature to timestamps
test_final['date'] = pd.to_datetime(test_final['date'], format='mixed')
test_final['Day']=test_final['date'].dt.day
test_final['Month']= test_final['date'].dt.month
test_final['Year']=test_final['date'].dt.year
test_final['Day of the week']=test_final['date'].dt.dayofweek
test_final['Day of the year']=test_final['date'].dt.dayofyear

#Change Datatype of oil prices
test_final['dcoilwtico'] = test_final['dcoilwtico'].astype(float)

#Prepare the test data
test_final.drop(columns = ['date'], inplace = True)
test_final.fillna(0, inplace= True)
test_final['sales']=np.nan

test_final

,Holiday_type_encoded,Holiday_locale_encoded,Transferred_Holiday_encoded,Region_encoded,id,store_nbr,onpromotion,Family_Encoded,cluster,City_encoded,State_encoded,Store_type_encoded,dcoilwtico,transactions,Day,Month,Year,Day of the week,Day of the year,sales
0,0.0,0.0,0.0,0.0,3000888.0,1.0,0.0,0.0,13,18,12,3,46.80,0.0,16,8,2017,2,228,NaN
1,0.0,0.0,0.0,0.0,3000889.0,1.0,0.0,1.0,13,18,12,3,46.80,0.0,16,8,2017,2,228,NaN
2,0.0,0.0,0.0,0.0,3000890.0,1.0,2.0,2.0,13,18,12,3,46.80,0.0,16,8,2017,2,228,NaN
3,0.0,0.0,0.0,0.0,3000891.0,1.0,20.0,3.0,13,18,12,3,46.80,0.0,16,8,2017,2,228,NaN
4,0.0,0.0,0.0,0.0,3000892.0,1.0,0.0,4.0,13,18,12,3,46.80,0.0,16,8,2017,2,228,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28507,0.0,0.0,0.0,0.0,3029395.0,9.0,1.0,28.0,6,18,12,1,47.26,0.0,31,8,2017,3,243,NaN
28508,0.0,0.0,0.0,0.0,3029396.0,9.0,0.0,29.0,6,18,12,1,47.26,0.0,31,8,2017,3,243,NaN
28509,0.0,0.0,0.0,0.0,3029397.0,9.0,1.0,30.0,6,18,12,1,47.26,0.0,31,8,2017,3,243,NaN
28510,0.0,0.0,0.0,0.0,3029398.0,9.0,9.0,31.0,6,18,12,1,47.26,0.0,31,8,2017,3,243,NaN
28511,0.0,0.0,0.0,0.0,3029399.0,9.0,0.0,32.0,6,18,12,1,47.26,0.0,31,8,2017,3,243,NaN

In [15]:
train_final.nunique()

Holiday_type_encoded                 5
Holiday_locale_encoded               3
Transferred_Holiday_encoded          2
Region_encoded                      24
id                             2141964
store_nbr                           54
sales                           284471
onpromotion                        330
Family_Encoded                      33
cluster                             17
City_encoded                        22
State_encoded                       16
Store_type_encoded                   5
dcoilwtico                         994
transactions                      4274
Day                                 31
Month                               12
Year                                 5
Day of the week                      5
Day of the year                    364
dtype: int64

In [16]:
train_final.nunique()

Holiday_type_encoded                 5
Holiday_locale_encoded               3
Transferred_Holiday_encoded          2
Region_encoded                      24
id                             2141964
store_nbr                           54
sales                           284471
onpromotion                        330
Family_Encoded                      33
cluster                             17
City_encoded                        22
State_encoded                       16
Store_type_encoded                   5
dcoilwtico                         994
transactions                      4274
Day                                 31
Month                               12
Year                                 5
Day of the week                      5
Day of the year                    364
dtype: int64

In [17]:
test_final.columns

Index(['Holiday_type_encoded', 'Holiday_locale_encoded',
       'Transferred_Holiday_encoded', 'Region_encoded', 'id', 'store_nbr',
       'onpromotion', 'Family_Encoded', 'cluster', 'City_encoded',
       'State_encoded', 'Store_type_encoded', 'dcoilwtico', 'transactions',
       'Day', 'Month', 'Year', 'Day of the week', 'Day of the year', 'sales'],
      dtype='object')

In [18]:
train_final.columns

Index(['Holiday_type_encoded', 'Holiday_locale_encoded',
       'Transferred_Holiday_encoded', 'Region_encoded', 'id', 'store_nbr',
       'sales', 'onpromotion', 'Family_Encoded', 'cluster', 'City_encoded',
       'State_encoded', 'Store_type_encoded', 'dcoilwtico', 'transactions',
       'Day', 'Month', 'Year', 'Day of the week', 'Day of the year'],
      dtype='object')

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train_final.drop(columns=['sales']), train_final['sales'], test_size=0.25, random_state=4)

In [20]:
#Using lightgbm 

import lightgbm as lgb

# Define parameters for LightGBM
params = {
    'objective': 'regression',
    'metric': 'mse',
    'num_leaves': 62,
    'learning_rate': 0.1,
    'feature_fraction': 0.8,
}


# Convert training data to a LightGBM Dataset
train_data1 = lgb.Dataset(X_train, label=y_train)

# Train the LightGBM model
model = lgb.train(params, train_data1, num_boost_round=175)

# Prediction
y_pred1 = model.predict(X_test)

# Post-process the predictions to replace negative values with zero
y_pred_non_negative = np.maximum(y_pred1, 0)

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.302669 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1462
[LightGBM] [Info] Number of data points in the train set: 1630530, number of used features: 19
[LightGBM] [Info] Start training from score 322.539138

In [21]:
# Calculate Root Mean Squared Logarithmic Error(RMSLE)

rmsle = mean_squared_log_error(y_true=y_test, y_pred = y_pred_non_negative)
print("Root mean squared logorithmic error:", rmsle)
print("Light GBM predicted " + str(len(y_pred1[y_pred1<0])/len(y_pred1) * 100) + "% of negative results")

Root mean squared logorithmic error: 2.57591924675898
Light GBM predicted 15.797133447406672% of negative results

In [22]:
sample1 = model.predict(test_final.drop(columns = ['sales']))

In [23]:
submission['sales'] = sample1.round(0)
submission

            id   sales
0      3000888   -48.0
1      3000889   -48.0
2      3000890   880.0
3      3000891  2244.0
4      3000892   -71.0
...        ...     ...
28507  3029395   239.0
28508  3029396    -2.0
28509  3029397   499.0
28510  3029398   821.0
28511  3029399   -32.0

[28512 rows x 2 columns]